<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 	<bean id="trasferService" class="com.doj.springapp.service.TransferService" scope="singleton">
	 	 <property name="accountRepository" ref="accountRepository"/>
 	</bean>
 	
 		
 	<bean id="accountRepository" class="com.doj.springapp.repository.AccountRepository"/>
 	
</beans>
